section.features{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F4F5;
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 50px;
}
.feature{
    background-color: var(--color-white);
    width: 285px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.feature img{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.feature-text p {
  font-size: var(--f2);
  line-height: 1.5;
  margin: 15px 0 20px;
}
