@import url("../../global/global.css");
@import url("./partials/header.css");
@import url("./partials/section-hero.css");
@import url("./partials/section-features.css");
@import url("./partials/section-banner.css");
@import url("./partials/section-products.css");
@import url("./partials/footer.css");